.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input{
  border-radius: 3px;
}

.badInput{
  border: red 2px solid;
  outline: -webkit-focus-ring-color;
}

.goodInput:focus{
  border: limegreen 2px solid;
  outline: -webkit-focus-ring-color;
}

.alert{
  background-color: lightcoral;
  border-radius: 3px;
  border: black 1px solid;
  margin: 2px auto;
  font-size: small;
  color: white;
  padding: 3px 2px;
  width: fit-content;
  min-width: 70%;
}

form{
  width: 30%;
  margin: 0px auto;
}